:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #111;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-light: #5ddef4;
  --primary: #00acc1;
  --primary-dark: #007c91;

  --success: #64dd17;
  --danger: #dd2c00;

  --safe-margin-bottom: 0px;
  --safe-margin-bottom: env(safe-area-inset-bottom);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
html, body, #app {
  width: 100%;
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  outline: none;
  border-color: transparent;
  cursor: not-allowed;
  background-color: #777;
}

/* cross component styles */
.steps .backBtn svg {
  font-size: 2em;
}
.callBtn {
  border-radius: 50px;
  background-color: white;
  outline: none;
  font-size: 24px;
  line-height: 0;
}
.callBtn.off {
  background-color: #aaa;
  border-color: #aaa;
  color: var(--danger);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.modalInner {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.attributes {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
}
.attribute {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}